[submodule "deps/CRoaring"]
	path = deps/CRoaring
	url = https://github.com/RoaringBitmap/CRoaring.git 
[submodule "deps/hiredis"]
	path = deps/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "deps/sds"]
	path = deps/sds
	url = https://github.com/antirez/sds.git
[submodule "deps/KeyDB"]
	path = deps/KeyDB
	url = https://github.com/Snapchat/KeyDB.git
